<div class="os-padding">
  <div class="os-viewport fondo os-viewport-native-scrollbars-invisible" style="overflow-y: scroll;">
    <div class="os-content" style="padding: 0px; height: 100%; width: 100%;">
      <div class="bee-page-container">
        <div class="bee-row bee-row-1">
          <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w2">
              <div class="bee-block bee-block-2 bee-image"><a href="https://w.app/X6kP7h" target="_blank"><img
                    class="bee-center bee-autowidth"
                    src="assets/imagenes/logo2.PNG"
                    style="max-width:150px;" alt="Alquimia"></a></div>
            </div>
            <div class="bee-col bee-col-2 bee-col-w4">
              <div class="bee-block bee-block-1 bee-divider">
                <div class="spacer" style="height:0px;"></div>
              </div>
            </div>
            <div class="bee-col bee-col-3 bee-col-w6" style="text-align: end;">
              <div class="bee-block bee-block-1 bee-divider">
                <div class="spacer" style="height:35px;"></div>
              </div>
              <div class="bee-block bee-block-2 bee-button"><a
                  style="font-size: 20px; background-color: transparent; border-bottom: 1px solid #FFBA45; border-left: 1px solid #FFBA45; border-radius: 0px; border-right: 1px solid #FFBA45; border-top: 1px solid #FFBA45; color: #f2f2f2; direction: ltr; font-family: inherit; max-width: 100%; padding-bottom: 3px; padding-left: 40px; padding-right: 40px; padding-top: 3px; width: auto; display: inline-block;"
                  class="bee-button-content" href="https://w.app/X6kP7h" target="_blank"><span
                    style="word-break: break-word; font-size: 20px; line-height: 200%;">Contáctanos</span></a></div>
            </div>
          </div>
        </div>
        <div class="bee-row bee-row-8">
          <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w12">
              <div class="bee-block bee-block-1 bee-divider">
                <div class="spacer" style="height:20px;"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="bee-row bee-row-2">
          <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w5">
              <div class="bee-block bee-block-2 bee-heading">
                <h1
                  style="color:#f2f2f2;direction:ltr;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;font-size:38px;font-weight:normal;letter-spacing:normal;line-height:120%;text-align:left;margin-top:0;margin-bottom:0;">
                  <span class="tinyMce-placeholder">¡Empieza tu propio camino como Modelo Webcam Hoy!</span> </h1>
              </div>
              <div class="bee-block bee-block-3 bee-divider">
                <div class="spacer" style="height:10px;"></div>
              </div>
              <div class="bee-block bee-block-4 bee-image"><img class=" bee-autowidth"
                  src="assets/imagenes/stars.png"
                  style="max-width:143px;" alt="Five Golden Stars"></div>
              <div class="bee-block bee-block-5 bee-divider">
                <div class="spacer" style="height:40px;"></div>
              </div>
              <div class="bee-block bee-block-6 bee-divider">
                <div class="spacer" style="height:40px;"></div>
              </div>
              <div class="bee-block bee-block-7 bee-text">
                <div style="line-height: 150%; font-size: 12px; font-family: inherit; color: #f2f2f2;"
                  class="bee-text-content">
                  <p style="line-height: 18px; text-align: left;"><span style="font-size: 16px; line-height: 24px;">En
                      <strong style="">Alquimia Studio</strong>, buscamos Modelos Webcam para unirse a nuestro equipo
                      dinámico y en constante crecimiento. No necesitas experiencia previa; solo una actitud positiva,
                      carisma y ganas de aprender.</span></p>
                </div>
              </div>
              <div class="bee-block bee-block-8 bee-divider">
                <div class="spacer" style="height:40px;"></div>
              </div>
              <div class="bee-block bee-block-9 bee-button"><a
                  style="font-size: 16px; background-color: #ffba45; border-bottom: 0px solid transparent; border-left: 0px solid transparent; border-radius: 0px; border-right: 0px solid transparent; border-top: 0px solid transparent; color: #0d0d0d; direction: ltr; font-family: inherit; max-width: 100%; padding-bottom: 3px; padding-left: 30px; padding-right: 30px; padding-top: 3px; width: auto; display: inline-block;"
                  class="bee-button-content" href="https://w.app/X6kP7h" target="_blank"><span
                    style="word-break: break-word; font-size: 16px; line-height: 200%;">Contáctanos</span></a></div>
            </div>
            <div class="bee-col bee-col-2 bee-col-w7">
              <div class="bee-block bee-block-2 bee-image"><img class="bee-center bee-autowidth"
                  src="assets/imagenes/modelo1.PNG"
                  style="max-width:466px;" alt="Movie Poster Placeholder"></div>
            </div>
          </div>
        </div>
        <div class="bee-row bee-row-3">
          <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w12">
              <div class="bee-block bee-block-1 bee-divider">
                <div class="spacer" style="height:50px;"></div>
              </div>
              <div class="bee-block bee-block-2 bee-heading">
                <h1
                  style="color:#f2f2f2;direction:ltr;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;font-size:38px;font-weight:700;letter-spacing:normal;line-height:120%;text-align:center;margin-top:0;margin-bottom:0;">
                  Beneficios de hacer parte de nuestra industria: </h1>
              </div>
              <div class="bee-block bee-block-3 bee-divider">
                <div class="spacer" style="height:10px;"></div>
              </div>
              <div class="bee-block bee-block-4 bee-image"><img class="bee-center bee-autowidth"
                  src="assets/imagenes/underline.png"
                  style="max-width:428px;" alt="Zig Zag Line"></div>
              <div class="bee-block bee-block-5 bee-divider">
                <div class="spacer" style="height:50px;"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="bee-row bee-row-4">
          <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w12">
              <div class="bee-block bee-block-1 bee-heading">
                <h2
                  style="color:#ffffff;direction:ltr;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;font-size:16px;font-weight:400;letter-spacing:normal;line-height:120%;text-align:left;margin-top:0;margin-bottom:0;">
                  <span class="tinyMce-placeholder"></span> </h2>
              </div>
            </div>
          </div>
        </div>
        <div class="bee-row bee-row-5">
          <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w12">
              <div class="bee-block bee-block-1 bee-divider">
                <div class="spacer" style="height:20px;"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="bee-row bee-row-6">
          <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w7">
              <div class="bee-block bee-block-1 bee-heading">
                <h1
                  style="color:#ffffff;direction:ltr;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;font-size:21px;font-weight:700;letter-spacing:normal;line-height:120%;text-align:left;margin-top:0;margin-bottom:0;">
                  <strong>✔️Pagos semanales y mayor porcentaje<br>✔️No cobramos multas<br>✔️Monitoreo 7x24<br>✔️Tráfico
                    y posicionamiento especializado<br>✔️Instalaciones modernas y con<br>✔️tecnología 4k<br>✔️Fotografía
                    Profesional<br>✔️Psicología<br>✔️Capacitaciones grupales y personalizadas<br></strong> </h1>
              </div>
            </div>
            <div class="bee-col bee-col-2 bee-col-w5">
              <div class="bee-block bee-block-1 bee-image"><img class="bee-center bee-autowidth"
                  src="assets/imagenes/modelo2.PNG"
                  style="max-width:333px;" alt="imagen"></div>
            </div>
          </div>
        </div>
        <div class="bee-row bee-row-8">
          <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w12">
              <div class="bee-block bee-block-1 bee-divider">
                <div class="spacer" style="height:20px;"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="bee-row bee-row-7">
          <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w5">
              <div class="bee-block bee-block-1 bee-image"><img class="bee-center bee-autowidth"
                  src="assets/imagenes/modelo3.PNG"
                  style="max-width:466px;" alt="imagen"></div>
              <div class="bee-block bee-block-2 bee-heading">
                <h1
                  style="color:#ffffff;direction:ltr;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;font-size:21px;font-weight:700;letter-spacing:normal;line-height:120%;text-align:left;margin-top:0;margin-bottom:0;">
                  <span class="tinyMce-placeholder"></span> </h1>
              </div>
            </div>
            <div class="bee-col bee-col-2 bee-col-w2">
            </div>
            <div class="bee-col bee-col-2 bee-col-w5">
              <div class="bee-block bee-block-1 bee-heading">
                <h1 style="color:#ffffff;direction:ltr;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;font-size:23px;font-weight:400;letter-spacing:normal;line-height:120%;text-align:left;margin-top:0;margin-bottom:0;"><span class="tinyMce-placeholder">
                  <strong style="color: #ffba45;">Alquimia Studio</strong>
                   es una empresa colombiana de&nbsp;producción y entretenimiento para adultos, que opera a&nbsp;nivel mundial, cuyo servicio principal es la distribución de&nbsp;contenidos audiovisuales a través de una plataforma en línea&nbsp;o servicio de difusión en tiempo real.</span>
                </h1>
              </div>
            </div>
          </div>
        </div>
        <div class="bee-row bee-row-8">
          <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w12">
              <div class="bee-block bee-block-1 bee-divider">
                <div class="spacer" style="height:20px;"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="bee-row bee-row-9">
          <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w12">
              <div class="bee-block bee-block-1 bee-divider">
                <div class="spacer" style="height:10px;"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="bee-row bee-row-10">
          <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w12">
              <div class="bee-block bee-block-1 bee-image"><img class="bee-center bee-autowidth"
                  src="assets/imagenes/logo2.PNG"
                  style="max-width:178px;" alt="imagen"></div>
            </div>
          </div>
        </div>
        <div class="bee-row bee-row-11">
          <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w12">
              <div class="bee-block bee-block-1 bee-divider">
                <div class="spacer" style="height:20px;"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="bee-row bee-row-12">
          <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w12">
              <div class="bee-block bee-block-1 bee-heading">
                <h3
                  style="color:#ffffff;direction:ltr;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;font-size:21px;font-weight:700;letter-spacing:normal;line-height:120%;text-align:center;margin-top:0;margin-bottom:0;">
                  ¡Transforma tu Vida! Únete a Nuestra Industria como Modelo Webcam! </h3>
              </div>
              <div class="bee-block bee-block-2 bee-divider">
                <div class="spacer" style="height:10px;"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="bee-row bee-row-8">
          <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w12">
              <div class="bee-block bee-block-1 bee-divider">
                <div class="spacer" style="height:20px;"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="bee-row bee-row-13">
          <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w4">
              <div class="bee-block bee-block-1 bee-image"><img class="bee-center bee-autowidth"
                  src="assets/imagenes/alquimia7.PNG"
                  style="max-width:246px;" alt="imagen"></div>
            </div>
            <div class="bee-col bee-col-2 bee-col-w4">
              <div class="bee-block bee-block-1 bee-image"><img class="bee-center bee-autowidth"
                  src="assets/imagenes/alquimia4.PNG"
                  style="max-width:246px;" alt="imagen"></div>
            </div>
            <div class="bee-col bee-col-3 bee-col-w4">
              <div class="bee-block bee-block-1 bee-image"><img class="bee-center bee-autowidth"
                  src="assets/imagenes/alquimia3.PNG"
                  style="max-width:246px;" alt="imagen"></div>
            </div>
          </div>
        </div>
        <div class="bee-row bee-row-8">
          <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w12">
              <div class="bee-block bee-block-1 bee-divider">
                <div class="spacer" style="height:20px;"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="bee-row bee-row-12">
          <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w12">
              <div class="bee-block bee-block-1 bee-heading">
                <h3 style="color:#ffffff;direction:ltr;font-family:Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;font-size:21px;font-weight:700;letter-spacing:normal;line-height:120%;text-align:center;margin-top:0;margin-bottom:0;">Rooms totalmente cómodos </h3>
              </div>
              <div class="bee-block bee-block-2 bee-divider">
                <div class="spacer" style="height:10px;"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="bee-row bee-row-8">
          <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w12">
              <div class="bee-block bee-block-1 bee-divider">
                <div class="spacer" style="height:20px;"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="bee-row bee-row-13">
          <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w6">
              <div class="bee-block bee-block-1 bee-image"><img class="bee-center bee-autowidth" src="assets/imagenes/room1.jpeg" style="max-width:380px;" alt="imagen"></div>
            </div>
            <div class="bee-col bee-col-2 bee-col-w6">
              <div class="bee-block bee-block-1 bee-image"><img class="bee-center bee-autowidth" src="assets/imagenes/room2.jpeg" style="max-width:380px;" alt="imagen"></div>
            </div>
          </div>
        </div>
        <div class="bee-row bee-row-14">
          <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w12">
              <div class="bee-block bee-block-1 bee-divider">
                <div class="spacer" style="height:50px;"></div>
              </div>
              <div class="bee-block bee-block-2 bee-button"><a
                  style="font-size: 20px; background-color: #ffba45; border-bottom: 4px solid #f2c26f; border-left: 4px solid #f2c26f; border-radius: 10px; border-right: 4px solid #f2c26f; border-top: 4px solid #f2c26f; color: #0d0d0d; direction: ltr; font-family: inherit; font-weight: 700; max-width: 100%; padding-bottom: 3px; padding-left: 30px; padding-right: 30px; padding-top: 3px; width: auto; display: inline-block;"
                  class="bee-button-content" href="javascript:void('www.example.com')"><span
                    style="word-break: break-word; font-size: 20px; line-height: 200%;">¡Únete ahora!</span></a></div>
              <div class="bee-block bee-block-3 bee-divider">
                <div class="spacer" style="height:50px;"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="bee-row bee-row-15">
          <div class="bee-row-content">
            <div class="bee-col bee-col-1 bee-col-w12">
              <div class="bee-block bee-block-1 bee-divider">
                <div class="spacer" style="height:0px;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
